.header {
  background-color: var(--color-background);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 3rem 0;
  display: flex;
  justify-content: center;

  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  border-bottom: 0.1rem solid var(--color-input-border);
  background-color: var(--color-background);
  top: 0.1rem;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

.navigation {
  transition: var(--transition-timing); /* for responsive screens */
  background-color: var(--color-background); /* for responsive screens */
}

.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}
.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-text);
}
.container:has(.bio:target) .nav__bio,
.container:has(#skills:target) .nav__skills,
.container:has(#media:target) .nav__media,
.container:has(#projects:target) .nav__projects,
.container:has(#clients:target) .nav__clients,
.container:has(#contact:target) .nav__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}
.burger-menu__checkbox {
  display: none;
}
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
.toggle__checkbox {
  display: none;
}

.toggle__label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  width: 4.4rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: 0.3s;
}
.toggle__label::after {
  display: block;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: 0.3s;
}
.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::after {
  transform: translateX(2.1rem);

  background-color: var(--color-green);
}
